.content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 1100px;

  margin: 0 auto;

  .__content-techs {
    display: flex;

    .__tech {
      position: relative;

      p {
        display: none;
        position: absolute;
        top: 0;
        left: 1rem;
      }

      &:hover {
        p {
          display: flex;
        }
      }
    }
  }
}
